page-woo-list {
	.woocommerce.post-list {
		
		ion-card {
			background: linear-gradient(45deg, #b8c2d8, #667aa3);
			padding: 10px;
			border-radius: 5px;
			
		}

		.item h2 {
			font-size: 1.8rem;
			font-weight: bold;
			margin-bottom: 5px;
			color: #444;
		}

		.product-price {
			font-size: 1.6rem;
			font-weight: 500;
			margin-bottom: 5px;
			color: Green;
		}
		.product-rating {
			font-size: 1.3rem;
			margin-bottom: 5px;
			color: #000;
		}
	} 
	
	ion-row {
		ion-col {
			ion-card {
				text-align: center;
			}
		}
	}
}
