page-woo-list {
	
	ion-row {
		ion-col {
			ion-card {
				.product-price {
					text-decoration: line-through;
				}
				
				ion-thumbnail {
					border-top-left-radius: 5px;
					border-top-right-radius: 5px;
					border-bottom-left-radius: 0px;
					border-bottom-right-radius: 0px;
					background: linear-gradient(45deg, #b8c2d8, #667aa3);
				}
				
				
				.product-text {
					background: linear-gradient(45deg, #b8c2d8, #667aa3);
					text-align: center;
					font-weight: bold;
					border-top-left-radius: 0px;
					border-top-right-radius: 0px;
					padding: 5px;
				
					.product-price {
						text-decoration: line-through;
					}
			    }
			}
				
		}
	}
}
