page-order {
	.content {
		
		ion-card {
			background: linear-gradient(45deg, #667aa3, #b8c2d8);
			padding: 10px;
			border-radius: 10px;
		}
		ion-col {
			button {
				color: #fff;
			}
			
			color: #fff;
			font-size: 12px;
		}
	}
}
